# Introduction

Our business problem began by identifying the most common products bought together and for that we did several recommendation systems.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('orders.xls')
df.drop(columns="Unnamed: 0", axis =1, inplace=True)
df.head()

,client,delivery_place,date,product,product_description,measure,quantity,is_internal_client,warehouse_zone,product_type,product_subtype,order_id
0,1128254,6346669,2023-01-06,126898,AGUA DAS PEDRAS SALGADAS 6x0.33 PET,UN,600.0,Não,AMB,Bebidas,Aguas Minerais,1
1,1001096,6001131,2023-01-03,126898,AGUA DAS PEDRAS SALGADAS 6x0.33 PET,UN,120.0,Não,AMB,Bebidas,Aguas Minerais,2
2,1001096,6001131,2023-01-17,126898,AGUA DAS PEDRAS SALGADAS 6x0.33 PET,UN,120.0,Não,AMB,Bebidas,Aguas Minerais,3
3,1121833,6358142,2023-01-04,126898,AGUA DAS PEDRAS SALGADAS 6x0.33 PET,UN,12.0,Não,AMB,Bebidas,Aguas Minerais,4
4,1122758,6328488,2023-01-04,126898,AGUA DAS PEDRAS SALGADAS 6x0.33 PET,UN,60.0,Não,AMB,Bebidas,Aguas Minerais,5

How the company works is that for every deivery place in a day a truck takes the products, there can be more than one delivery place per day, as well several clients can have the same delivery place

In [142]:
#Implementing a orders Id
#order = df.groupby(['date','delivery_place']).size().reset_index()
#order['order_id'] = [i+1 for i in range(len(order))]
#order = order.drop(0,axis=1)
#data=df.merge(order, on=['date','delivery_place'])
#data.head()

In [2]:
#make groupby to get indexes product_tyoe and subtype
analise = df.groupby(['warehouse_zone','product_type','product_subtype'])['quantity'].sum().reset_index()
analise2 = df.groupby(['warehouse_zone','product_type',])['quantity'].sum().reset_index()

#Create Id's 
analise['cellule'] = (analise.groupby('product_type').cumcount()+1).apply(lambda x: str(x).zfill(2))
analise2['ID'] = (analise2.groupby('warehouse_zone').cumcount()+1).apply(lambda x: str(x).zfill(2))
analise2['alley']= analise2.apply(lambda row: row['warehouse_zone'] +'-'+ str(row['ID']), axis=1)

#Drop unecessary columns
analise2=analise2.drop(['quantity','ID'], axis=1)
analise=analise.drop(['quantity'],axis=1)

#Merge everything together on a dataframe
df_locations = df.merge(analise2, on=['warehouse_zone','product_type'], how='left')
df_new = df_locations.merge(analise, on=['warehouse_zone','product_type','product_subtype'], how='left')
df_new['alleycell'] = df_new.apply(lambda row: row['alley'] +'-'+ str(row['cellule']), axis=1)
df_new.head(3)

,client,delivery_place,date,product,product_description,measure,quantity,is_internal_client,warehouse_zone,product_type,product_subtype,order_id,alley,cellule,alleycell
0,1128254,6346669,2023-01-06,126898,AGUA DAS PEDRAS SALGADAS 6x0.33 PET,UN,600.0,Não,AMB,Bebidas,Aguas Minerais,1,AMB-01,02,AMB-01-02
1,1001096,6001131,2023-01-03,126898,AGUA DAS PEDRAS SALGADAS 6x0.33 PET,UN,120.0,Não,AMB,Bebidas,Aguas Minerais,2,AMB-01,02,AMB-01-02
2,1001096,6001131,2023-01-17,126898,AGUA DAS PEDRAS SALGADAS 6x0.33 PET,UN,120.0,Não,AMB,Bebidas,Aguas Minerais,3,AMB-01,02,AMB-01-02

In [3]:
coords = pd.read_csv("coords.xls", delimiter=';')
coords['x'] = coords['x'].str.replace(',', '.').astype(float)
coords['y'] = coords['y'].str.replace(',', '.').astype(float)

gg = df_new.groupby(['warehouse_zone','product_type','alley']).size().reset_index()
s= coords.merge(gg, on=['warehouse_zone','product_type'], how='left')
s= s.drop(0,axis=1)
s.loc[len(s)] = ['START',"START", 15, 1,"START"]
s.tail()

   warehouse_zone                        product_type     x     y   alley
51            REF                               Peixe   5.5  34.0  REF-09
52            REF  Refeições Cook & Chill (Socigeste)   5.5  32.0  REF-10
53            SAL                             Legumes  27.0  25.5  SAL-01
54            SAL                           Mercearia  27.0  20.5  SAL-02
55          START                               START  15.0   1.0   START

## Recommendation system

## Apriori

### Association Rules

With the order id in place we can now start building a recommendation system based on what items are frequently purchased together. This can be useful for suggesting related items to customers, as well as informing product placement and marketing strategies.

To do this, we use the Apriori algorithm to identify frequent itemsets - that is, sets of items that appear together in a minimum number of orders. From these itemsets, we can generate association rules that tell us which items tend to be purchased together.

The Apriori algorithm is a scalable and efficient way to mine large datasets for frequent itemsets and generate association rules. By using this approach, we can identify patterns and relationships in transactional data that can inform our recommendation system and ultimately help us make data-driven decisions about product recommendations, marketing strategies, and product placement.

In [4]:
from mlxtend.frequent_patterns import apriori, association_rules

# Filter for orders with more than one item
df = df.groupby('order_id').filter(lambda x: len(x) > 1)

# Pivot data to create binary matrix
basket = pd.pivot_table(df, index='order_id', columns='product_subtype', values='quantity', aggfunc='sum', fill_value=0)

# Convert values to binary
basket[basket > 0] = 1

# Find frequent itemsets
freq_itemsets = apriori(basket, min_support=0.05, use_colnames=True)

freq_itemsets.head(5)

C:\Users\admin\anaconda3\envs\adpro\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support              itemsets
0  0.174519  (Acucar - Adocantes)
1  0.138714      (Aguas Minerais)
2  0.078038          (Aperitivos)
3  0.275317               (Arroz)
4  0.294463             (Azeites)

In the context of the Apriori algorithm, support refers to the frequency with which an itemset appears in the dataset. Specifically, the support of an itemset is defined as the proportion of transactions in the dataset that contain all the items in that itemset.

For example, in the table you provided, the first itemset (`ABOBORA`) has a support value of `0.062928`. This means that about `6.3%` of the transactions in the dataset contain the item `ABOBORA`. Similarly, the second itemset (`ACUCAR GRANULADO SACO PAPEL 1 KG RAR`) has a support value of `0.135336`, which means that about `13.5%` of the transactions in the dataset contain the item `ACUCAR GRANULADO SACO PAPEL 1 KG RAR`.

The support metric is important in the Apriori algorithm because it is used to identify frequent itemsets, which are then used to generate association rules. Specifically, itemsets with a support value above a given threshold (e.g., `0.05` or `0.1`) are considered frequent, and the algorithm generates association rules based on those itemsets.

In [5]:
# Generate association rules
rules_orig = association_rules(freq_itemsets, metric='lift', min_threshold=1)

# Sort rules by lift and support
rules_orig = rules_orig.sort_values(['lift', 'support'], ascending=[False, False])

# Print top 5 rules
print(rules_orig.shape)
rules_orig.head(5)

(200628, 10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
4676,"(Sacos de Plastico, Biosog)",(Panos),0.076678,0.061145,0.05115,0.667075,10.909717,0.046461,2.820017,0.983772
4681,(Panos),"(Sacos de Plastico, Biosog)",0.061145,0.076678,0.05115,0.836531,10.909717,0.046461,5.648305,0.967496
4678,"(Biosog, Panos)",(Sacos de Plastico),0.052792,0.102769,0.05115,0.968889,9.427864,0.045724,28.839579,0.943754
4679,(Sacos de Plastico),"(Biosog, Panos)",0.102769,0.052792,0.05115,0.497717,9.427864,0.045724,1.885805,0.996322
4680,(Biosog),"(Sacos de Plastico, Panos)",0.100422,0.054106,0.05115,0.509346,9.413841,0.045716,1.927822,0.993548

- Metrics:
    - antecedents:
        - the antecedent itemset of the association rule
    - consequents: 
        - the consequent itemset of the association rule
    - antecedent support: 
        - the support of the antecedent itemset, i.e., the proportion of transactions that contain all the items in the antecedent
    - consequent support: 
        - the support of the consequent itemset, i.e., the proportion of transactions that contain all the items in the consequent
    - support:
        - the support of the rule, i.e., the proportion of transactions that contain both the antecedent and the consequent
    - confidence: 
        - the confidence of the rule, i.e., the proportion of transactions that contain the consequent given that they also contain the antecedent
    - lift: 
        - the lift of the rule, which measures how much more often the antecedent and consequent co-occur in the dataset than we would expect if they were independent. A lift greater than 1 indicates a positive correlation between the antecedent and consequent, while a lift less than 1 indicates a negative correlation, and a lift equal to 1 indicates independence.
    - leverage: 
        - the leverage of the rule, which measures the difference between the observed frequency of the antecedent and consequent co-occurring and the frequency that would be expected if they were independent. A leverage of 0 indicates independence, while a positive leverage indicates a positive correlation, and a negative leverage indicates a negative correlation.
    - conviction: 
        - the conviction of the rule, which measures how much the antecedent and consequent are dependent on each other. A conviction value greater than 1 indicates that the antecedent and consequent are positively dependent, while a conviction value less than 1 indicates that they are negatively dependent, and a conviction value equal to 1 indicates independence.
    - zhang's metric: 
        - a metric that combines lift and conviction to give an overall measure of the interestingness of the rule. A value greater than 0 indicates that the rule is interesting.
        
The most important metrics for evaluating association rules are usually **support, confidence, and lift**. Support and confidence are used to filter out rules that are not frequent or not strong enough, while lift is used to identify rules that represent interesting correlations between items. In general, a high support value indicates that the rule is frequent, a high confidence value indicates that the rule is strong, and a high lift value indicates that the rule is interesting.

In [6]:
rules_orig = rules_orig[(rules_orig['confidence']>=0.7) & (rules_orig['support']>= 0.05)]

rules_orig

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
4681,(Panos),"(Sacos de Plastico, Biosog)",0.061145,0.076678,0.051150,0.836531,10.909717,0.046461,5.648305,0.967496
4678,"(Biosog, Panos)",(Sacos de Plastico),0.052792,0.102769,0.051150,0.968889,9.427864,0.045724,28.839579,0.943754
4677,"(Sacos de Plastico, Panos)",(Biosog),0.054106,0.100422,0.051150,0.945360,9.413841,0.045716,16.463699,0.944898
4684,"(Biosog, Utensilios Domesticos)",(Sacos de Plastico),0.065321,0.102769,0.062224,0.952586,9.269229,0.055511,18.923425,0.954463
887,(Panos),(Utensilios Domesticos),0.061145,0.089207,0.050540,0.826554,9.265580,0.045085,5.251165,0.950172
...,...,...,...,...,...,...,...,...,...,...
85221,"(Frutas Frescas, Carne Porco Congelada, Hortic...",(Leite),0.097044,0.362412,0.067996,0.700677,1.933371,0.032826,2.130100,0.534653
4736,"(Horticolas Congelados, Bovino Adulto Congelad...",(Leite),0.075551,0.362412,0.052933,0.700621,1.933217,0.025552,2.129703,0.522179
28657,"(Carne Porco Congelada, Horticolas Congelados,...",(Leite),0.094510,0.362412,0.066213,0.700596,1.933147,0.031962,2.129523,0.533091
30855,"(Criacao (Ovos), Frutas Frescas, Horticolas Fr...",(Leite),0.071703,0.362412,0.050211,0.700262,1.932226,0.024225,2.127149,0.519728
4821,"(Carne Porco Congelada, Criacao Congelada)",(Leite),0.079822,0.362412,0.055889,0.700176,1.931990,0.026961,2.126543,0.524245

Explicar

## Q-Learn

In [12]:
rules_final = rules_final[["order_id", "items"]]

rules_final

       order_id                                              items
4681       4681                 [Panos, Sacos de Plastico, Biosog]
4678       4678                 [Biosog, Panos, Sacos de Plastico]
4677       4677                 [Sacos de Plastico, Panos, Biosog]
4684       4684  [Biosog, Utensilios Domesticos, Sacos de Plast...
887         887                     [Panos, Utensilios Domesticos]
...         ...                                                ...
85221     85221  [Frutas Frescas, Carne Porco Congelada, Hortic...
4736       4736  [Horticolas Congelados, Bovino Adulto Congelad...
28657     28657  [Carne Porco Congelada, Horticolas Congelados,...
30855     30855  [Criacao (Ovos), Frutas Frescas, Horticolas Fr...
4821       4821  [Carne Porco Congelada, Criacao Congelada, Leite]

[45559 rows x 2 columns]

In [13]:
# explode the items column
rules_final = rules_final.explode('items')

# merge the order_id column with the exploded dataframe
rules_final = pd.merge(rules_final, rules_final[['order_id']], left_index=True, right_index=True)

# rename the order_id column to item_order_id
rules_final = rules_final.rename(columns={'order_id_x': 'order_id', 'order_id_y': 'item_order_id'})

rules_final = rules_final[["order_id", "items"]]

rules_final = rules_final.rename(columns = {"items": "product_subtype"})

# display the resulting dataframe
print(rules_final)

        order_id     product_subtype
69            69              Batata
69            69              Batata
69            69               Arroz
69            69               Arroz
76            76             Cebolas
...          ...                 ...
200515    200515  Horticolas Frescos
200515    200515  Horticolas Frescos
200515    200515  Horticolas Frescos
200515    200515  Horticolas Frescos
200515    200515  Horticolas Frescos

[1425396 rows x 2 columns]

In [14]:
test_new = df_new.copy()

In [15]:
# create a dictionary with the mapping between product_subtype and product_type
product_type_map = dict(zip(test_new['product_subtype'], test_new['product_type']))

# add a new column to rules_final with the product_type information
rules_final['product_type'] = rules_final['product_subtype'].map(product_type_map)

In [21]:
# Create a dictionary mapping product_type to warehouse_zone, x, y, and alley
prod_type_dict = s.set_index('product_type')[['warehouse_zone', 'x', 'y', 'alley']].to_dict()

# Use the map method to create new columns in rules_final
rules_final['warehouse_zone'] = rules_final['product_type'].map(prod_type_dict['warehouse_zone'])
rules_final['x'] = rules_final['product_type'].map(prod_type_dict['x'])
rules_final['y'] = rules_final['product_type'].map(prod_type_dict['y'])
rules_final['alley'] = rules_final['product_type'].map(prod_type_dict['alley'])

In [28]:
rules_final = rules_final[rules_final['order_id'] == 26]

rules_final

Empty DataFrame
Columns: [order_id, product_subtype, product_type, warehouse_zone, x, y, alley]
Index: []

In [27]:
import numpy as np
import pandas as pd
import time
import math

start_time = time.time()

# Function for calculating distance between zones
def calculate_distance(zone1, zone2):
    x1, y1 = float(rules_final[rules_final["alley"] == zone1]["x"].iloc[0]), float(rules_final[rules_final["alley"] == zone1]["y"].iloc[0])
    x2, y2 = float(rules_final[rules_final["alley"] == zone2]["x"].iloc[0]), float(rules_final[rules_final["alley"] == zone2]["y"].iloc[0])
    distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
    return distance

def get_shortest_distance_zone(zone_list):
    distances = []
    for zone in zone_list:
        distances.append(calculate_distance("START", zone))
    return zone_list[np.argmin(distances)]

# Parameters for Q-learning
alpha = 0.1  # Learning rate
gamma = 0.99  # Discount factor
epsilon = 0.1  # Exploration rate
n_episodes = 10 #1000  # Number of episodes

# Get the unique order ids and zones
order_ids = rules_final['order_id'].unique()
zones = rules_final['alley'].unique()
min_order_id = np.min(order_ids)

# Initialize the Q-table
num_zones = len(order_ids)
q_table = np.zeros((len(order_ids), len(zones), len(zones)))

for episode in range(n_episodes):
    for order_id in order_ids:
        order = rules_final[rules_final['order_id'] == order_id]
        zone_list = order['alley'].tolist()

        for i in range(len(zone_list) - 1):
            current_zone = zone_list[i]
            next_zone = zone_list[i + 1]

            current_zone_idx = np.where(zones == current_zone)[0][0]
            next_zone_idx = np.where(zones == next_zone)[0][0]

            # Choose action (next zone) using epsilon-greedy strategy
            if np.random.random() < epsilon:
                action_idx = np.random.randint(num_zones)
            else:
                action_idx = np.argmax(q_table[order_id - min_order_id, current_zone_idx, :])

            # Calculate the reward based on the distance to the chosen zone
            reward = -calculate_distance(current_zone, zones[min(action_idx, len(zones)-1)])

            # Update Q-table
            q_table[order_id - min_order_id, current_zone_idx, min(action_idx, len(zones)-1)] = q_table[order_id - min_order_id, current_zone_idx, min(action_idx, len(zones)-1)] + alpha * (reward + gamma * np.max(q_table[order_id - min_order_id, min(action_idx, len(zones)-1), :]) - q_table[order_id - min_order_id, current_zone_idx, min(action_idx, len(zones)-1)])

# Print the optimal picking order
for order_id in order_ids:
    order = rules_final[rules_final['order_id'] == order_id]
    zone_list = order['alley'].tolist()

    first_zone = get_shortest_distance_zone(zone_list)
    optimal_order = [first_zone]

    for i in range(len(zone_list) - 1):
        current_zone = zone_list[i + 1]
        current_zone_idx = np.where(zones == current_zone)[0][0]

        # Choose the best action based on the Q-table
        action_idx = np.argmax(q_table[order_id - min_order_id, current_zone_idx, :])

        if zones[action_idx] not in optimal_order:
            optimal_order.append(zones[action_idx])

    print(f"Optimal picking order for order {order_id}: {optimal_order}")

end_time = time.time()

print("Running time:", end_time - start_time, "seconds")

IndexError: single positional indexer is out-of-bounds